.container {
  display: flex;
  flex-direction: column;
  padding: 2rem;
  text-align: center;
  align-items: center;
}

.about {
  border: 1px solid black;
  margin: 1rem;
}

.about p {
  margin-top: 1rem;
}
