.banner {
  background-image: url(../assets/stoned-penguin.png);
  background-size: cover;
  background-position: center center;
  height: 300px; /* Adjust height as needed */
  width: 100%;
  opacity: 0.8;
  margin: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;

  @media (min-width: 501px) {
    background-size: contain;
  }
}

.bannerMessage {
  display: flex;
  flex-direction: column;
  color: black;
  font-weight: bolder;
  background-color: white;
  opacity: 0.5;
  transform: translateY(0.5rem);
}
