.nav {
  width: 100%;
  background-color: black;
}

.logo {
  font-size: 2rem;
  text-align: center;
  color: white;
  padding: 1rem;
}
.container {
  display: flex;
  justify-content: space-around;
  width: 100%;
  align-items: center;
  padding: 1rem;
}
.button {
  padding: 0.5rem 0.5rem;
  color: white;
  opacity: 0.8;
  font-size: 0.75rem;
  border: 2px solid white;
}

.button:hover {
  cursor: pointer;
  opacity: 1;
}
