.nav {
  width: 100%;
}

.logo {
  font-size: 1rem;
  margin: 1rem;
}
.container {
  display: flex;
  justify-content: space-around;
  width: 100%;
}
.button {
  background-color: black;
  padding: 0.5rem 0.5rem;
  color: white;
  opacity: 0.8;
  font-size: 0.75rem;
}

.button:hover {
  cursor: pointer;
  opacity: 1;
}
