/* Normalize styles to ensure consistency across browsers */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Arial", sans-serif; /* Set a base font family */
  line-height: 1.5;
  background-color: #fff;
}

a {
  text-decoration: none;
}

button {
  all: unset;
}
